button {
  height: 30px;
  width: 500px;
  outline: none;
  margin: 0px;
  border: none;
  border-radius: 2px;
}

button:hover {
  box-shadow: 0 0 0 2px rgb(36, 35, 35),
              0 0 0 4px rgb(22, 22, 21);
}